<!--first section-->
<section class="mb-5 overflow-hidden">
    <div class="layer1 position-relative">
        <h3 class=" position-absolute top-50 start-50 translate-middle text-dark bg-white bg-opacity-50 p-3 ">CONTACT US</h3>
    </div>
    <div class="bg-secondary bg-opacity-25 w-100 text-center fs-6 p-2 " id="link">
        <a routerLink="/home" class="text-dark text-decoration-none">home
        </a>
        > contact us
    </div>
</section>

<!--second section-->
<section class="overflow-hidden mb-5 mt-5">
    <div class="ms-3 mb-3  text-center">
        <p class="fs-4 fst-italic text-uppercase text-dark element2"></p>
    </div>
    <div class="row justify-content-center ms-5">
        <div class="col-lg-6 col-xl-6 col-md-10 col-sm-12 p-4">
            <form class="form-control border border-0 p-2 rounded-3" style="background-color: hsl(261, 59%, 88%, 0.2);">
                    <div class="form-group p-2 ">
                        <label class="fw-bold mb-2">Name</label>
                        <span class="text-danger m-1">*</span>
                        <input type="text" class="form-control rounded-3 text-dark" placeholder="name">
                    </div>
                    <div class="form-group p-2 ">
                        <label class="fw-bold mb-2">Email </label>
                        <span class="text-danger m-1">*</span>
                        <input type="email" class="form-control rounded-3 text-dark" placeholder="email">
                    </div>
                <div class="form-group p-2 ">
                    <label class="fw-bold mb-2">Phone</label>
                    <span class="text-danger m-1">*</span>
                    <input type="number" class="form-control rounded-3 text-dark" placeholder="phone">
                </div>
                <div class="form-group mb-4  p-2">
                    <label class="fw-bold mb-2">Message</label>
                    <input type="text " class="form-control rounded-3 p-4 text-dark"  placeholder="message..">
                </div>
                <div class="btn-group btn-group-sm " class="d-grid gap-3" role="group" aria-label="Basic example" >
                    <button type="submit" class="btn rounded-3 w-25 m-auto" style="background-color: hsla(262, 76%, 63%, 0.1);">Send message</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!--third section-->
<section class="mt-5 mb-5 overflow-hidden  pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="face face1" style="background: #4aada9;">
                        <div class="content">
                            <div class="icon">
                                <i class="fa-solid fa-earth-americas"  aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>
                                <a href="" target="_blank">About Central Tact</a>
                            </h3>
                            <p class="pb-1">Its a multibranch company estabilished in 2015
                                specialized in empowering small, medium and large
                                businesses in satisfying their customers .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="face face1" style="background: #6eadd4;">
                        <div class="content">
                            <div class="icon">
                                <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>
                                <a href="" target="_blank">Our Office Address</a>
                            </h3>
                            <p>13512 lake Vining Drive #15103, Orlando, Florida, 32821</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="face face1" style="background: #e07768;">
                        <div class="content">
                            <div class="icon">
                                <i class="fa-solid fa-envelopes-bulk" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>
                                <a href="" target="_blank">Get N Touch</a>
                            </h3>
                            <p>Mail: info@centraltact.com<br>
                                Call Us On: +1-817-655-4872</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



