<!--first section-->
<section class="mb-5 overflow-hidden">
    <div class="layer1 position-relative text-center">
        <h3 class="position-absolute top-50 start-50 translate-middle  text-dark bg-white bg-opacity-50 p-3 ">ABOUT US</h3>
    </div>
    <div class="bg-secondary bg-opacity-25 w-100 text-center fs-6 p-2 " id="link">
        <a href="#" class="text-dark text-decoration-none">home
        </a>
       > About Us
    </div>
</section>

<!--second section-->
<section class="overflow-hidden mb-3 mt-5">
    <div class="ms-3 mb-3  text-center">
        <p class="text-secondary fw-light">ABOUT US</p>
        <p class="fs-4 fst-italic text-uppercase text-dark element2"></p>
    </div>
</section>

<!--third section-->
<section class="mb-5 p-4" style=" background-color: hsl(261, 59%, 88%, 0.2);">
    <div class="row justify-content-center">
        <div class="d-flex flex-row">
                <div class="layer3 p-3">
                    <a href=" ">
                        <img class="img" src="assets\our vision.avif">
                        <div class="layer2in3 text-white p-3">
                            <h5 class="bg-white text-secondary text-center">OUR VISION</h5>
                            <p class="fs-6 p-2 text-white fw-lighter">
                                We have the legal framework technology infrastructure and professional administrative personnel to get your center up and running quickly.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="layer3 p-3">
                    <a href=" "> 
                        <img class="img" src="assets\our core.avif">
                        <div class="layer2in3 text-white p-3">
                            <h5 class="bg-white text-secondary text-center">OUR CORE VALUE</h5>
                            <p class="fs-6 p-2 text-white fw-lighter">
                                At Advantage, we believe there is a cause and effect relationship between loyal employees and loyal customers. For that reason, we place our greatest value on Our People, Our Customers, Our Service and Our Integrity.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="layer3 p-3">
                    <a href=" ">
                        <img class="img" src="assets\our service.avif">
                        <div class="layer2in3 text-white p-3">
                            <h5 class="bg-white text-secondary text-center">OUR SERVICES</h5>
                            <p class="fs-6 p-2 text-white fw-lighter">
                                Our service quality is the core of our existence, we operate in a state of continuous improvement , We set high standards to our employees and live by those standards because we know that success is an ongoing work improvement, our services vary from inbound to outbound, web chatting, customer service, tele-sales, administrative assistance and quality auditing
                            </p>
                        </div>
                    </a>
                </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 ">
            <p class="text-dark text-end fw-bold">Call Us For Free :
                +18176554872
            </p>
            <div class="d-flex justify-content-end">
                <button id="btn1" class="btn rounded-3 border-3 border-white text-end" routerLink="/contact-us">CONTACT US</button>
            </div>
        </div>
    </div>
</section>
<!--third section-->
<section class="overflow-hidden mb-3 mt-5">
    <div class="ms-3 mb-3  text-center">
        <p class="text-secondary fw-light">HOW IT WORK</p>
        <p class="fs-4 fst-italic text-uppercase text-dark element"></p>
    </div>
</section>

<!--fourth section-->
<section class="mb-5" style=" background-color: hsl(261, 59%, 88%, 0.2);">
    <div class=" row justify-content-center p-4">
        <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
            <div class="card-container  me-5" style=" background-color: hsl(261, 59%, 88%, 0.2);">
                <div class="card p-4 text-white border border-3 border-white" style="--angle: -5deg; --x: 5%; --y: 15%; background-image: linear-gradient(rgba(0, 0, 0, 0.1),white),url('discover.avif')">
                    <h5 class="mb-5 text-secondary text-uppercase bg-white p-3">Discover</h5>
                    <p class="fw-bold lh-lg fs-4 text-dark">We believe in exceeding continuously client's expectations</p>
                </div>
                <div class="card p-4 text-white border border-3 border-white" style="--angle: -1deg; --x: -10%; --y: -20%; background-image:linear-gradient(rgba(0, 0, 0, 0.1),white),url('define.jpg');">
                    <h5 class="mb-5 text-secondary text-uppercase bg-white p-3">Define</h5>
                    <p class="fw-bold lh-lg fs-4 text-dark">We have the legal framework, technology infrastructure, and professional administrative</p>
                </div>
                <div class="card p-4 text-white border border-3 border-white" style="--angle: -4deg; --x: -20%; --y: 5%;  background-image:linear-gradient(rgba(0, 0, 0, 0.1),white),url('deploy.png');">
                    <h5 class="mb-5 text-secondary text-uppercase bg-white p-3">Deploy</h5>
                    <p class="fw-bold  fs-4 text-dark">Hiring the right candidates for your project, giving them proper training and software to empower them in satisfying your customer's needs once they're deployed</p>
                </div>
                <div class="card p-4 text-white border border-3 border-white" style="--angle: 7deg; --x: 10%; --y: -7%;   background-image:linear-gradient(rgba(0, 0, 0, 0.1),white),url('deliver.jpg');">
                    <h5 class="mb-5 text-secondary text-uppercase bg-white p-3">Deliver</h5>
                    <p class="fw-bold fs-4 text-dark">Deliver the results you're looking for, tracking software to know what your team exactly is doing and how good at your job they're getting</p>
                </div>      
            </div>
        </div>
    </div>
</section>

<!--fifth section-->
<section class="overflow-hidden mb-3 mt-5">
    <div class="ms-3 mb-3  text-center">
        <p class="text-secondary fw-light">ABOUT US</p>
        <p class="fs-4 fst-italic text-uppercase text-dark element3"></p>
    </div>
</section>

<!--last section-->
<section class="fourthLayer1 bg-dark">
    <div class="row justify-content-evenly p-5">
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7"></div>
       <div class="col-xl-5 col-lg-5 col-md-9 col-sm-9 bg-dark mt-5 p-3">
            <div>
                <h6 class="bgTitle p-2">Which type of customers do you serve?</h6>
                <p class="fw-lighter fw-5 ms-2 text-white">
                    Our customers are any company interested in improving their customer service experience and offering new products to their existing client base or even market a new product from scratch
                </p>
            </div>
            <div>
                <h6 class="bgTitle p-2">Do you support any live chat software</h6>
                <p class="fw-lighter fw-5 ms-2 text-white">
                    We can help your company have an integrated webchat software with their website or an AI on the company social platforms
                </p>
            </div>
            <div>
                <h6 class="bgTitle p-2">What are your terms regarding payment?</h6>
                <p class="fw-lighter fw-5 ms-2 text-white">
                    If both parties interested in working with each we believe we can find middle ground of which we can start up this nurturing business relationship.
                </p>
            </div>
            <div>
                <h6 class="bgTitle p-2">How do you ensure that my data is secured?</h6>
                <p class="fw-lighter fw-5 ms-2 text-white">Our Contracts are binding, we sign NDA with our clients and agents to ensure that all Data is secured, we use top notch software with DDOS protection and our servers are fully secured.</p>
            </div>
       </div>
    </div>
</section>
