<!--first section-->
<section class="mb-5 overflow-hidden">
    <div class="layer1 position-relative text-center">
        <h3 class="position-absolute top-50 start-50 translate-middle  text-dark bg-white bg-opacity-50 p-3 ">SERVICES</h3>
    </div>
    <div class="bg-secondary bg-opacity-25 w-100 text-center fs-6 p-2" id="link">
        <a routerLink="/home" class="text-dark text-decoration-none">home
        </a>
       > Services
    </div>
</section>

<!--second section-->
<section class="overflow-hidden mb-5 mt-5">
    <div class="ms-3 mb-3  text-center">
        <p class="fs-4 fst-italic text-uppercase text-dark element2"></p>
    </div>
</section>

<!--third section-->

<section class=" mb-5">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mb-4">
                <div class="card-container  me-5" style=" background-color: hsl(261, 59%, 88%, 0.2);">
                    <div class="card p-4 text-white border border-3 border-white" style="--angle: -5deg; --x: 5%; --y: 15%; background-image: linear-gradient(rgba(0, 0, 0, 0.1),white),url('1.jpg')">
                        <i class="fa-solid fa-earth-europe fs-2 mt-3 ms-3 fw-bold "></i>
                        <p class="text-white fs-6 mt-2 ms-3 mb-5">Explore the features</p>
                        <h5 class="mb-5 text-secondary text-uppercase bg-white">Comprehensive Communication <br>
                        Solutions</h5>
                        <p class="fw-bold lh-lg fs-4 text-dark">Every single call routed in our Inbound Call Center is handled by a highly trained person.</p>
                    </div>
                    <div class="card p-4 text-white border border-3 border-white" style="--angle: -1deg; --x: -10%; --y: -20%; background-image:linear-gradient(rgba(0, 0, 0, 0.1),white),url('3.jpg');">
                        <i class="fa-solid fa-earth-europe fs-2 mt-3 ms-3 fw-bold "></i>
                        <p class="text-white fs-6 mt-2 ms-3">Explore the features</p>
                        <h5 class="mb-5 text-secondary text-uppercase bg-white">Inbound-Outbound Call Centre</h5>
                        <p class="fw-bold lh-lg fs-4 text-dark">Align with customer needs and provides versatile team extension benefits at low cost &amp; high efficiency.</p>
                    </div>
                    <div class="card p-4 text-white border border-3 border-white" style="--angle: -4deg; --x: -20%; --y: 5%;  background-image:linear-gradient(rgba(0, 0, 0, 0.1),white),url('2.jpg');">
                        <i class="fa-solid fa-earth-europe fs-2 mt-3 ms-3 fw-bold "></i>
                        <p class="text-white fs-6 mt-2 ms-3">Explore the features</p>
                        <h5 class="mb-5 text-secondary text-uppercase bg-white">Ice-Breaking Communication</h5>
                        <p class="fw-bold  fs-4 text-dark">Here's what we do for clients 
                            we take pride in our agents for their excellent interpersonal skills, motivated spirit, IT knowledge and service oriented mindset.</p>
                    </div>      
                </div>
            </div>
            <div  class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mb-4">
                <div class="card-container " style=" background-color: hsl(261, 59%, 88%, 0.2);">
                    <div class="card p-4 text-white border border-3 border-white" style="--angle: -5deg; --x: 5%; --y: 15%; background-image: linear-gradient(rgba(0, 0, 0, 0.1),white),url('4.jfif');">
                    <i class="fa-solid fa-earth-europe fs-2 mt-3 ms-3 fw-bold "></i>
                    <p class="text-white fs-6 mt-2 ms-3">Explore the features</p>
                    <h5 class="mb-5 text-secondary text-uppercase bg-white">Trade Facilitation</h5>
                    <p class="fw-bold lh-lg fs-4 text-dark">Equipped with all the latest tools, which enable us to make successful marketing calls for your products &amp; services.</p>
                    </div>               
                    <div class="card p-4 text-white border border-3 border-white" style=" --angle: -1deg; --x: -10%; --y: -20%; background-image: linear-gradient(rgba(0, 0, 0, 0.1),white),url('5.jpg');">
                    <i class="fa-solid fa-earth-europe fs-2 mt-3 ms-3 fw-bold "></i>
                    <p class="text-white fs-6 mt-2 ms-3">Explore the features</p>
                    <h5 class="mb-5 text-secondary text-uppercase bg-white">Help &amp; Support</h5>
                    <p class="fw-bold  fs-4 text-dark">our agents are fluently bilingual and bicultural, which ensures an experienced, diverse workforce capable of handling North American Clients.</p>
                    </div>
                    <div class="card p-4 text-white border border-3 border-white" style="--angle: 7deg; --x: 10%; --y: -7%; background-image: linear-gradient(rgba(0, 0, 0, 0.1),white),url('6.avif');">
                    <i class="fa-solid fa-earth-europe fs-2 mt-3 ms-3 fw-bold "></i>
                    <p class="text-white fs-6 mt-2 ms-3">Explore the features</p>
                    <h5 class="mb-5 text-secondary text-uppercase bg-white">Business Development Communication</h5>
                    <p class="fw-bold fs-4 text-dark">We believe in continuously exceeding client expectations. Here's what some of our clients have to say about working with us and seeing results from our nearshore contact center approach.</p>
                    </div>
                </div>
            </div>
        </div>
</section>


<!--fourth section-->
<section class="fourthLayer1 bg-dark">
    <div class="row justify-content-evenly p-5">
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7"></div>
       <div class="col-xl-5 col-lg-5 col-md-9 col-sm-9 bg-dark mt-5">
        <p class="text-white fs-6 mt-3 ms-3 mb-3">
            A GREAT TECHNOLOGY </p>
        <h5 class="mb-4 text-secondary text-uppercase bg-white me-1 p-3">Excellent Teliqon Services For Your Business</h5>
        <p class="fw-lighter fs-5 text-white">Get help from a caring and knowledgeable professional. The fastest growing outsourced contact center in the industry. If you’re in the market to outsource your customer service, cut costs and take your customer support to the next level.</p>
       </div>
    </div>
</section>
