.layer1
{
    background-image: linear-gradient(rgba(224, 73, 13, 0.4),#24262be2),url('service.avif');
    height: 80vh;
    background-size:cover;
}
#link a:hover{
    background-color: hsl(261, 33%, 90%);
    border-radius: 10px;
    padding: 4px 5px;
    margin: 4px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.card-container {
	position: relative;
	width: 100%;
	height: 80vmin;
}

.card {
	position: absolute;
	width: 100%;
	height: 100%;
	//background-color: rgb(107, 51, 107);
    background-size: cover;
	//background-color: darken(white, 2%);
	border-radius: 2px;
	box-shadow: 2px 2px 5px rgba(#111, .35);
	transition: transform .35s ease-out;
	transform: translate(var(--x), var(--y)) scale(.35) rotate(var(--angle));
	will-change: transform;

	&:hover {
		transform: scale(1) rotate(0deg);
		z-index: 1;

		&:before {
			opacity: 1;
		}
	}
}

.card:before {
	//content: "";
	display: block;
	width: 100%;
	height: 80%;
	margin: 5%;
	//background: var(--image) center center no-repeat;
	//background-size: cover;
	box-shadow: inset 0 0 5px rgba(#222, .35);
	border-radius: 2px;
	filter: sepia(.2) brightness(.9) contrast(1.2);
	transition: opacity .35s ease-out;
	opacity: .5;
	will-change: opacity;
}

.card:after {
	display: block;
	//content: var(--caption);
	font-weight: 500;
	color: #555;
	font-size: 3vmin;
	opacity: .75;
	text-align: center;
}
  
  
.fourthLayer1
{
	background-image: url('col-bgimage-5.jpg');
	background-size:auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
