<!--first section-->
<section class="sectionOne">
  <div class="layer1 position-relative">
    <div  class="position-absolute top-50 start-0 translate-middle-y  ms-5 mt-5 pt-5"> 
      <p class="mb-3 fs-4 text-white text-uppercase">Thing we value</p>
      <h3 class="mb-5  text-uppercase fw-bold text-secondary bg-white p-2">Giving your Customer's<br>
         top notch customer service <br>
          and support</h3>
      <button id="btn1" class="fw-bold">more our Services</button>
    </div>
  </div>
</section>

<!--second section-->
<section class="mt-5">
    <div  class="container text-center">
       <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="text-secondary fw-light">COMPANY FEATURES</p>
                <p class="fs-2 fst-italic text-uppercase text-secondary element"></p>
            </div>
       </div>
    </div>
</section>

<!--third section-->
<section class="mt-5 mb-5" style="  background-color: hsl(261, 59%, 88%,0.2);">
    <div class="container pt-5 pb-5">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
               <div class="row">
                <div class="col-md-4">
                  <div class="card p-2 shadow" id="layers3" style="width:100%; height: 100%;">
                    <div class="imageEffect rounded-3" style="overflow: hidden;">
                      <img src="assets\Collaboration Services.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Collaboration Services</h5>
                      <div class="text-warning ">
                          <i class="far fa-comment-dots text-secondary"></i>
                          <span class="me-4 text-dark ms-1 ">Send Message</span>
                          <i class="fab fa-creative-commons-by text-secondary"></i>
                          <span class=" ms-1  text-dark ">Contact Us</span>
                      </div>
                    <p class="card-text text-dark mt-2"> We partner to build multi-pronged strategies to
                      facilitate seamless team collaboration
                    </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card p-2 shadow" id="layers3" style="width:100%; height: 100%;">
                    <div class="imageEffect rounded-3" style="overflow: hidden;">
                       <img src="assets\Data Entry Services.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Data Entry Services</h5>
                                <div class="text-warning ">
                                    <i class="far fa-comment-dots text-secondary"></i>
                                    <span class="me-4 text-dark ms-1 ">Send Message</span>
    
                                    <i class="fab fa-creative-commons-by text-secondary"></i>
                                    <span class="text-dark ms-1 ">Contact Us</span>
                                </div>
                              <p class="card-text text-dark mt-2">Align with customer needs and provide versatile
                                team extension benefits at low cost
                              </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card p-2 shadow" id="layers3" style="width:100%; height: 100%;">
                    <div class="imageEffect rounded-3" style="overflow: hidden;">
                       <img src="assets\Security Checklist.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Security Checklist</h5>
                              <div class="text-warning ">
                                <i class="far fa-comment-dots text-secondary"></i>
                                <span class="me-4 text-dark ms-1 ">Send Message</span>
    
                                <i class="fab fa-creative-commons-by text-secondary"></i>
                                <span class="text-dark ms-1 ">Contact Us</span>
                              </div>
                              <p class="card-text text-dark mt-2">Include multi-factor authentication, VPN
                                installation, regularly updating system firewalls.
                              </p>
                    </div>
                  </div>
                </div>
               </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card p-2 shadow" id="layers3" style="width:100%; height: 100%;">
                      <div class="imageEffect rounded-3" style="overflow: hidden;">
                         <img src="assets\Tools & Technology.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title fw-bold">Tools & Technology</h5>
                              <div class="text-warning ">
                                <i class="far fa-comment-dots text-secondary"></i>
                                <span class="me-4 text-dark ms-1 ">Send Message</span>
                                <i class="fab fa-creative-commons-by text-secondary"></i>
                                <span class="text-dark ms-1 ">Contact Us</span>
                            </div>
                              <p class="card-text text-dark mt-2"> 
                                We identify a short-list of productivity, collaboration, project management & feedback.
                              </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card p-2 shadow" id="layers3" style="width:100%; height: 100%;">
                      <div class="imageEffect rounded-3" style="overflow: hidden;">
                        <img src="assets\Management Plan.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title fw-bold">Management Plan</h5>
                        <div class="text-warning ">
                            <i class="far fa-comment-dots text-secondary"></i>
                            <span class="me-4 text-dark ms-1 ">Send Message</span>
                            <i class="fab fa-creative-commons-by text-secondary"></i>
                            <span class="text-dark ms-1 ">Contact Us</span>
                        </div>
                      <p class="card-text text-dark mt-2">We provide a range of services to help you & your teams quickly get up running</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card p-2 shadow" id="layers3" style="width:100%; height: 100%;">
                      <div class="imageEffect rounded-3" style="overflow: hidden;"> 
                        <img src="assets\Policy Procedure.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title fw-bold">Policy Procedure</h5>
                              <div class="text-warning ">
                                <i class="far fa-comment-dots text-secondary"></i>
                                <span class="me-4 text-dark ms-1 ">Send Message</span>
                                <i class="fab fa-creative-commons-by text-secondary"></i>
                                <span class="text-dark ms-1 ">Contact Us</span>
                              </div>
                              <p class="card-text text-dark mt-2">We provide standard operating procedures and 
                                documentation that outlines keys...</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>


<!--fourth section-->
<section class="container mb-5">
  <div class="row justify-content-around">
    <div class="col-xl-4 col-lg-4 col-md-6 p-2 rounded-3 col-sm-8 wow slideInLeft" style="background-color: hsl(261, 59%, 88%,0.2); height: 600px;">
      <img src="assets\admin.webp" class="rounded-3" style="width: 100%; height:100%;">
    </div>
    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-10 mt-5 p-4 rounded-3 wow slideInRight" style="  background-color: hsl(261, 59%, 88%,0.2);">
      <h5 class="fs-6 text-center text-uppercase text-dark"  >ABOUT US</h5>
      <h1 class="fs-5 fw-bold" style="color:rgb(242, 145, 109) ;">We Have The Best Experts To Elevate Your Business.</h1>
      <p class="text-dark lh-lg mt-2"> We are a leading client call service provider,
        acknowledged as the preferred partner by both clients and worldwide associates 
        for its integrity, reliability and discretion.
          Services we can provide tailored inbound and outbound solutions while improving profitability, 
          increasing market share.
      </p>
      <div class="text-dark fw-light mt-5">
        <ol>
          <li>Technology and Tools Selection</li>
          <li>We generate B2B Qualified leads</li>
          <li>The Remote Policy and Procedures</li>
          <li>Remote Readiness Survey Support</li>
        </ol>
      </div>
      <div class="text-uppercase d-flex justify-content-end fw-bold fs-4" style="color:rgb(227, 84, 32) ;">
        6 Years <br> of Experiance
      </div>
    </div>
  </div>
</section> 
