.sectionOne
{
    background-image: url('7-common-questions-for-customer-service-representative.jpg');
    background-size: cover;
    height: 90vh;
}
.sectionOne .layer1
{
    background-color: rgba(224, 73, 13, 0.2);
    height: 100%;
}
#btn1{
    background: transparent;
    padding: 11px 18px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    color:  hsl(262, 68%, 78%);
    border: 2px solid  hsl(261, 59%, 88%);
    cursor: pointer;
}
#btn1:hover{
    background: rgba(255,69,0,0.1);
    color: #fff;
}

#layers3 img 
{
    width: 100%;
    height: 300px;
    transition: .2s .5s transform;
}

.imageEffect:hover img
{
    cursor: pointer;
    transform: scale(1.5,1.5);
}



